html, body {
	font-family: 'Oleo Script Swash Caps', cursive;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

.wrapper {
	display: flex;
	align-items: stretch;
}

.navbar-btn {
	position: absolute;
	z-index: 4;
}

#content {
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	min-height: 100vh;
	background: #7386D5;
	color: #FF7B33;
	transition: all 0.3s;
	z-index: 3;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

a[data-toggle="collapse"] {
	position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
	content: '\e259';
	display: block;
	position: absolute;
	right: 20px;
	font-size: 0.6em;
}

a[aria-expanded="true"]::before {
	content: '\e260';
}

input {
	font-size: 12px;
}

h1,h4 {
	color: #FF7B33;
	font-size: 16px;
	margin: 0 0 10px 0;
	text-align: center;
}

.text {
	font-size: 14px;
}

#hide-pins,
#show-pins {
	width: 48%;
}

hr {
	background: #3399FF;
	height: 1px;
	margin: 5px 0 5px 0;
	border: none;
}

#map {
	bottom:0px;
	min-height: 100vh;
	left: 0px;
	position: absolute;
	right: 0px;
	z-index: 2;
}

#zoomtotext {
	position: relative;
	width: 50%;
}

#zoomtoarea {
	width: 24%;
}

#pano {
	width: 200px;
	height: 200px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #6d7fcc;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386D5;
	background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}
ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

@media (max-width: 700px) {
	#sidebar {
	margin-left: -250px;
	}
	#sidebar.active {
	margin-left: 0;
	}
}
